.wrapper {
  display: flex;

  margin-bottom: 30px;
  align-items: flex-start;
}
.link {
  display: block;
  padding: 2px 0px;
}
.goBackBtn {
  display: block;
  padding: 3px 5px;
  margin: 20px;
}
